{% extends "base.html" %}

{% block content %}

<h1>  </h1>
<p>My name is Payton Smith, and I am a recent graduate from GCSU, who is now pursuing my second degree. I learned about Georgia College & State University during my senior year in high school, and after my first tour of the campus I knew it was the only school for me. I started college in August of 2020, in the midst of the COVID 19 pandeminc. While it was a tough start, I managed to find a great group of friends and really enjoyed college!</p>

<p>I declared my major in accounting during my first semester, after taking an introductory accounting course and loving it. Looking back, I should have double majored or minored in MIS. I was unaware just how useful the IT field would be to my future career in public accounting, so I am now obtaining a masters degree in MIS to diversify myself. Accountants deal with massive amounts of data daily, and we as a society are far past the days of hand-keying or hand sorting through thousands of rows in excel. I am hoping to gain from this masters degree insights that I can carry to my career in accounting that will streamline everyday tasks for myself and my company! </p>

<p>I think the hardest adjustment to make post college is learning how to maintain a social life and balance while working a typical 9-5 day job. Up until now I have had endless amounts of free time, but now it is extremely important to utilize the little time off I have. The best way I have made this adjustment is keeping to-do lists that force me to manage my time and avoid getting sucked into scrolling away all of my time on social media. One of my favorite activities is taking my dog Stevie on long walks. When you sit at a desk all day, there is something so refreshing about a simple walk around your neighborhood.   </p>

{% endblock %}

